// fonts and variables
@import url('https://fonts.googleapis.com/css2?family=Asset&family=Open+Sans+Condensed:wght@300&family=Prata&display=swap');

$black: #1E1C1E;
$funky-font: 'Asset', cursive;
$typing-font: 'Open Sans Condensed', sans-serif;

// styling components

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

// header section - first two components, landign page and introduction

.wrapper__header{
    height: auto;
    width: 100vw;
    .header{
        height: 100vh;
        width: 100vw; 
    }
    .header__one{
        position: fixed;
        .header__bgc{
            height: 100vh;
            width: 100vw;

            position: absolute;
            p{
                height: calc(100vh/6);
                width: 100vw;
                // color: rgb(221, 218, 218);
                // color: rgb(220, 250, 250);
                color: #fff;
                text-shadow: -3px 2px 2px rgba(150, 150, 150, 0.3);

                font-family: $funky-font;
                font-size: 64px;
                line-height: calc(100vh/6);
                letter-spacing: 5px;
                text-align: center;

                b{
                    color: $black;
                }
            }
        }
        .header__card{
            height: 300px;
            width: 600px;
            
            position: absolute;
            bottom: 20px;
            left: 20px;

            background-color: #fff;
            border: $black solid 2px;
            border-radius: 20px;
            padding: 15px 30px;
            h1{
                width: 100%;
                margin-bottom: 30px;

                font-size: 40px;
                text-align: center;
                letter-spacing: 6px;
                font-family: $typing-font;
            }
            h2{
                font-size: 35px;
                letter-spacing: 2px;
                margin: 15px 0;
                font-family: $typing-font;
            }
            .typed{
                position: relative;
                display: inline-block;
                font-size: 35px;
                letter-spacing: 2px;
            }
            // .typed::after{
            //     content: "";
            //     position: absolute;
            //     right: -10px;
            //     height: 42px;
            //     border-right: 3px solid $black;
            //     opacity: 0;
            //     animation: blink 0.5s infinite ease;
            // }

            // @keyframes blink{
            //     0%{
            //         opacity: 0;
            //     }
            //     100%{
            //         opacity: 1;
            //     }
            // }
        }
    }
    .header__two{
        position: absolute;
        top: 100vh;
        left: 0;
        background-color: $black;
        overflow: hidden;
        .header__imgWrapper{
            position: absolute;
            top: 100%;
            left: 5%;
            transform: translateY(-50%);
            opacity: 0;

            // border: 2px solid #E56717;
            border: 2px solid #E3CD7D;
            // border: 2px solid #4FE3CD;
            img{
                height: 80vh;
            }
        }
        .imgSlideIn{
            animation: imgSlideIn forwards 1.5s ease;

            @keyframes imgSlideIn{
                0%{
                    top: 100%;
                }
                20%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                    top: 50%;
                }
            }
        }
    }
}